<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
          <ion-item>
              <ion-label>
                  Select Group
              </ion-label>
              <ion-select>
                <ion-option value="Avans">Avans</ion-option>
                <ion-option value="tea">SAP</ion-option>
                <ion-option value="soda">Pink Elephant</ion-option>
              </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>

    <ion-row>
        <ion-col>
          <ion-item>
              <ion-label>
                  Select Drink
              </ion-label>
              <ion-select [(ngModel)]="drink" width="100%">
                <ion-option value="coffee">Coffee</ion-option>
                <ion-option value="tea">Tea</ion-option>
                <ion-option value="soda">Soda</ion-option>
              </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf='drink != ""'>
          <ion-col>
            <ion-item>
              <ion-label>
                Select Type
            </ion-label>
            <ion-select *ngIf='drink == "coffee"' width="100%">
              <ion-option value="coffee">Black</ion-option>
              <ion-option value="tea">Arabic</ion-option>
              <ion-option value="soda">Latte</ion-option>
              <ion-option value="water">Cappucino</ion-option>
            </ion-select>

            <ion-select *ngIf='drink == "tea"' width="100%">
                <ion-option value="coffee">Green</ion-option>
                <ion-option value="tea">Earl Grey</ion-option>
                <ion-option value="soda">Herbal</ion-option>
                <ion-option value="water">Oolong</ion-option>
              </ion-select>

              <ion-select *ngIf='drink == "soda"' width="100%">
                  <ion-option value="coffee">Coca Cola</ion-option>
                  <ion-option value="tea">Pepsi</ion-option>
                  <ion-option value="soda">Ice Tea</ion-option>
                  <ion-option value="water">Water</ion-option>
                </ion-select>
              </ion-item>
            
          </ion-col>
        </ion-row>
        <ion-row *ngIf='drink == "coffee" || drink == "tea"'>
          <ion-col >
            <ion-item>
              <ion-label>
                Select Addition
            </ion-label>
            <ion-select width="100%">
              <ion-option value="coffee">Sugar</ion-option>
              <ion-option value="tea">Milk</ion-option>
              <ion-option value="soda">Sugar &amp; Milk</ion-option>
            </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf='drink == "coffee" || drink == "tea"'>
            <ion-item>
                Add to favorites
                <ion-icon item-end class="addicon" name="add-circle" (click)="addNewGroup()" padding></ion-icon>
                
                </ion-item>
        </ion-row>

        <ion-row>
        
          <ion-col>
            <ion-item>
              <ion-label>
                Select from favorites
            </ion-label>
            <ion-select width="100%">
              <ion-option value="coffee">Coffee, Cappucino, Sugar</ion-option>
              <ion-option value="tea">Tea, Oolong, Milk &amp; Sugar</ion-option>
              <ion-option value="soda">Soda, Coca Cola</ion-option>
            </ion-select>
          </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
            <ion-col class="signup-col">
                <ion-item text-wrap>
                    The next victim will be chosen in 13 minutes
                </ion-item>
              <button ion-button class="submit-btn" full type="submit" >Order!</button>
              
            </ion-col>
          </ion-row>
</ion-content>
