<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{selectedItem.title}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
      
        <ion-item>
           Add user with QR code
            <ion-icon item-end class="addicon" name="add-circle" (click)="addNewUser()" padding></ion-icon>
            
            </ion-item>
        <ion-list>
            <ion-item-sliding *ngFor="let user of users" #item>
              <ion-item>
                {{user.title}}
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="danger" (click)="share(item)">Delete</button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          <ion-item>
              Available Drinks
          </ion-item>
          <ion-list>
            <ion-item *ngFor="let i of items">
              <ion-label>{{i.title}}</ion-label>
              <ion-checkbox checked="true" >
                
              </ion-checkbox>
            </ion-item>
          </ion-list>
  </ion-content>


